<!DOCTYPE html>
<html>
<head>
  <title>Cardapio Bruna Doces</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% if request.ssl? %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js' %>

  <% else %>
    <%= stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js' %>

  <% end %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <h10><%= link_to "Lista de Doces", root_path %></h10>
      </div>
      <div class="col-xs-4 text-center">
        <h10><%= link_to "Gerar Cardapio", cardapio_path %></h10>
      </div>
      <div class="col-xs-4 text-right">
        <h10 class="cart-text"><%= render 'layouts/cart_text' %></h10>
      </div>
    </div>
    <hr>
    <%= yield %>
  </div>

</body>
</html>
